@use '../helpers/index' as *;
@use '../variables' as *;

.sponsors {

  &__about {
    max-width: rem(323);
  }

  &__title {
    margin-bottom: rem(16);
    color: $color-neutral-100;
  }

  &__list {
    //column-gap: rem(30);
    padding: 0;
    width: 100%;

    @include mobile {
      width: 79%;
    }
  }

  &__item {
    height: rem(90);
  }
}