@use '../../helpers/index' as *;
@use '../../variables' as *;

.home-news {

  &__inner {
    padding-top: fluid(60, 0);
    padding-bottom: fluid(91, 39);
  }

  &__swiper {

    @include mobile {
      width: calc(100vw - $container-padding-x);
      padding-right: $container-padding-x !important;
    }

    &-btn-bar {
      top: fluid(126, 76);

      @include mobile {
        left: calc(100% - ($container-padding-x * 2 + 1.33vw));
      }
    }
  }

  &__img-container {
    height: fluid(332, 191);
  }
}