@use '../../helpers/index' as *;
@use '../../variables' as *;

.home-sponsors {

  &__inner {
    padding-block: fluid(86, 0);
    column-gap: rem(30);

    @include mobile-above {
      padding-inline: calc($container-padding-x + rem(59));
      border-bottom: $border-grey-30;
    }
  }
}