@use '../../helpers/index' as *;
@use '../../variables' as *;

.header {
  font-size: rem(16);

  &__inner {
    padding-top: rem(26);
    padding-bottom: rem(22);

    @include mobile {
      padding-top: rem(24);
      padding-bottom: rem(0);
    }
  }

  &__right {
    column-gap: fluid(68, 18);
  }

  a {
    &::after {
      content: '';
      width: 100%;
      height: 1px;
      background: $color-dark;
      transform: scaleX(0);
      position: absolute;
      bottom: rem(-6);
      left: 0;
      transition-duration: $transition-duration;
    }
  }

  &_nav {

    &__list {
      column-gap: fluid(32, 16);
      margin: 0;
      row-gap: rem(18);
    }

    &__link {
      position: relative;

      &:not(.there) {
        @include hover {
          &::after {
            transform: scaleX(1);
          }
        }
      }

      &.there {
        pointer-events: none;
        color: $color-accent;
      }
    }
  }

  &__contact {
    position: relative;
    color: $color-dark;

    &::after {
      transform: scaleX(1) !important;
    }
  }
}